server {
 listen 80 default_server;
 server_name localhost;
 return 302 https://$host:8443$request_uri;
}
server {
 server_name localhost;
 listen 443 ssl;
 ssl_certificate {{cert_file}};
 ssl_certificate_key {{key_file}};
 ssl_protocols TLSv1.2 TLSv1.1 TLSv1;
 root /usr/share/nginx/html;
 location / {
  return 404;
 }

 location ~ home\.html$ {
 	try_files $uri /home.html =404;
 }

 location ~ \/test$ {
 	return 302 https://yandex.ru;
 }

}