server {
 listen 80 default_server;
 root /usr/share/nginx/html;
 index index.html;
 server_name localhost;
 ssl_sertificate {{cert_file}}
 ssl_sertificate_key {{key_file}}
 location / {
  try_files $uri $uri/ =404;
 }
 location /test {
 	return 301 www.yandex.ru;
 }
}
